chromedriver-binary==104.0.5112.20
webdriver_manager==3.5.3
serverless-wsgi==2.0.2
python-dotenv==0.20.0
beautifulsoup4>=4.8.0 
SQLAlchemy==1.4.7
selenium==4.2.0
pytictoc==1.5.2
psycopg2-binary 
PyMySQL==1.0.2
boto3==1.17.79
joblib==1.0.1 
pandas==1.4.2
numpy>=1.19.1
requests 
pybars3


